# Ignore everything by default
*

# Then explicitly allow only these files
!.gitignore
!main.py
!call_api.py
!README.md
!requirements.txt

# Keep these out of source control
.env
.venv/
venv/
ENV/
env/
.idea/
__pycache__/
*.py[cod]
*.log
*.sqlite3
*.db
*.egg-info/
*.eggs/
*.whl
*.pyo
*.pyd
*.iml
*.DS_Store
Thumbs.db
Images/